*
{
  margin: 0;
box-sizing: border-box;
}

body
{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
header
{
  width: 100%;
  background: tomato;
  height: 100px;
}

.wrapper
{
  width: 1400px;
  margin: auto;
}

header .logo-left
{
  float: left;
  line-height: 100px;
  color: #F0F8FF;
}
header .menu-right ul
{
  float: right;
}

header .menu-right li
{
  display: inline-block;

}

header .menu-right li a {
	display: block;
	text-decoration: none;
	padding: 10px 16px;
	line-height: 79px;
	font-size: 20px;
	color: #000;
  
}

header .menu-right li a:hover, a:focus {
	background: brown;
	color: black;
	transition: 2s ease;
}

header .menu-right ul .search-container {
	float: right;
	padding: 29px 0 29px 100px;
}

header .menu-right ul .search-container input[type=text] {

  padding: 10.5px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  
  
}

button {
	float: left;
	width: 20%;
	padding: 13px;
	background: #2196F3;
	color: white;
	font-size: 17px;
	border: 1px solid #114dc6;
	border-left: none;
	cursor: pointer;
}

::placeholder
{
  font-size: 20px;
  color: #FF6347;
}

@media only screen and (max-width: 800px) {
 header .menu-right ul, .menu-right li, .search-container, input[type=text]  {
float: none;
    display: block;
  }
  
}
.row
{
  position: relative;
}
.row .box
{
  position: relative;
  float: left;
  width: 50%;
  
}

.row .box .one {
    position: absolute;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background:rgba(0,0,0,0.5) ;
  color: white;
  
}

.row .box .two {
    position: absolute;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background:rgba(0,0,0,0.5) ;
  color: white;
  
}

img
{
  width: 100%;
}
.row1 .box1
{
  width: 33.09%;
  float: left;
   margin-left: 0.1%;
}
.box1 img
{
  
  width: 100%;
}

.column .box3
{
  margin-left: 0.1%;
  float: left;
  width: 24.9%;
}

